# Created by https://www.toptal.com/developers/gitignore/api/maven
# Edit at https://www.toptal.com/developers/gitignore?templates=maven

### Maven ###
#hospitalCM/
#pom.xml
./hospitalCM/nb-configuration.xml
./hospitalCM/target
.gitignore2
